.pet-form {
  max-width: 500px;
  margin: auto; 
  font-family: sans-serif; 
}
.main-pet-mating{
    background-color: #ff6b00;
}

label {
  font-weight: 600;
  /* margin: 15px 0 5px; */
  display: block;
}

input, select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.option-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
}

button.active {
  border-color: #ff6b00;
  color: #ff6b00;
  font-weight: 600;
}

.card-option {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.card-option.active {
  border: 2px solid #ff6b00;
}

.card-option span {
  display: block;
  margin-top: 5px;
}
