.about-imges-height{ 
  box-shadow: 0px 0px 21px 0px rgba(128, 128, 128, 0.209);
}
.about-imges-height img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.custom-postion-about{
  position: absolute;
  top: 45%;
  left: 5%;
}
.custom-font-size-banner{
  font-size: 40px;
  letter-spacing: 2px;
}
 @media (min-width: 0px) and (max-width: 525px) {
  .about-imges-height{
  height: 80vh;
  box-shadow: 0px 0px 21px 0px gray;
}
.about-imges-height img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right;
}
.custom-font-size-banner{
  font-size: 24px;
  letter-spacing: 1px;
}
.custom-postion-about{
  position: absolute;
  top: 50%;
  text-align: center;
}
 }
