 
.tabWrapper { 
  max-width: 900px;
  margin: auto;
}

 
 .bordering-postion{
    position: relative;
 }
 .boardingBg{
    position: relative;
    margin-top: -25%;
 }

.tabBtn {
  border: none;
  padding: 10px 0px;
  background: #ff7a00;
  color: white;
  font-weight: 600;
  border-bottom: 3px solid transparent;
}
.custom-bordering{
    margin-left: 1px;
}
.tabBtn.active {
  background: #ff7a00;
  color: #fff;
  border-bottom: 3px solid #ff7a00;
}

.formCard {
  background: #fff;
  padding:0px 30px 30px 30px;
  /* border-radius: 10px; */
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.searchBtn {
  background: #ff7a00;
  color: #fff;
  padding: 12px;
  font-size: 18px;
}

.dayBtn {
  border: 1px solid #ff7a00;
  background: #fff;
}

.dayBtn.active {
  background: #ff7a00;
  color: #fff;
}

.counterBtn {
  width: 34px;
  height: 34px;
  border: none;
  background: #e5e5e5;
  font-size: 22px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.counterBtn.plus {
  background: #00c853;
  color: #fff;
}

.counterValue {
  font-size: 18px;
  font-weight: 600;
  min-width: 20px;
  text-align: center;
}


 @media (min-width: 0px) and (max-width: 525px) {
 
 }



 .serviceWrapperr {
  /* display: flex; */
  /* gap: 40px; */
  flex-wrap: wrap;
}

.serviceCard {
  display: flex;
  /* align-items: center; */
   
  gap: 14px;
  cursor: pointer;
}

.serviceCard h6 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.serviceCard p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

/* CHECKBOX */
.checkbox {
  width: 30px;
  height: 28px;
  border: 2px solid #666;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  transition: all 0.2s ease;
}
select{
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.493);
}
select:focus-visible{
    outline: none;
}

/* ACTIVE STATE */
.serviceCard.active .checkbox {
  background: #ff7a00;
  border-color: #ff7a00;
}

.dayBtn {
  border: 1px solid #ff7a00;
  background: #fff;
  color: #ff7a00;
  font-weight: 500;
}

.dayBtn.active {
  background: #ff7a00;
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .serviceWrapperr {
    gap: 20px;
  }
}
