.custom-fnt-size {
   font-size: 50px;
}

.mani-box-service {
   background: #fff;
   width: 95%;
   padding: 25px 20px 15px 20px;
   box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

@media (min-width: 0px) and (max-width: 525px) {
   .custom-fnt-size {
      font-size: 30px;
   }
}

@media (min-width: 526px) and (max-width: 768px) {
   .custom-fnt-size {
      font-size: 30px;
   }
}