footer {
    background-color: black;
}

 


.f-decoration-none {
  font-size: 15spx;
  font-weight: 700;
  color: #000;
  display: block;
  margin-bottom: 20px;
}

.list-style-none {
  list-style: none;
}

.text-decoration-none-one {
  text-decoration: none;
  color: #000;
}

.text-decoration-none-one:hover {
  text-decoration: underline;
}
 .ps-100{
    padding-left: 100px;
 }
 @media (min-width: 0px) and (max-width: 525px) {
      .ps-100{
    padding-left: 15px;
 }
 }