  .service-slider-wrapper {
    padding: 10px 0;
    overflow:  hidden !important;
  }

  .service-card {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    background: rgb(36, 24, 24);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  }

  .service-image {
    position: relative;
    width: 100%;
    min-height: 170px;
  }

  .service-image img {
    object-fit: cover;
  }

  .service-icon {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .service-content {
    padding: 40px 20px 20px;
    text-align: center;
  }

  .service-content p {
    color: #555;
  }

  .service-content a {
    display: inline-block;
    margin-top: 8px;
    color: #2b5cff;
    font-weight: 500;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    .service-image {
      height: 180px;
    }
  }